body {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    width: 50%;
  }
  #face {
      position: relative;
      top: calc(0px + var(--mouse-y) * 15px);
      left: calc(-10px + var(--mouse-x) * 18px);
  }
  #body {
      width: 100px;
      height: 100px;
      background-color: #80c9fe;
      border-radius: 12px;
  }
  #eye1 {
      background-color: black;
      height: 7px;
      width: 30px;
      transform: rotate(-25deg);
      position: relative;
      top: 40px;
      left: 10px;
  }
  #eye2 {
      background-color: black;
      height: 7px;
      width: 30px;
      transform: rotate(25deg);
      position: relative;
      top: 18px;
      left: 60px;
  }
  #eyecorr {
      background: black;
      height: 15px;
      width: 7px;
      position: relative;
      top: 40px;
      left: 20px;
  }
  #mouth {
      border-width: 7px 7px 0 0;
      border-color: black;
      border-style: solid;
      position: relative;
      top: 30px;
      left: 37px;
      width: 20px;
      height: 20px;
      border-radius: 0 22px 0 0;
      transform: rotate(-45deg);
  }
  #container{
    position: relative;
  }